[submodule "OctoBot"]
	path = OctoBot
	url = git@github.com:Drakkar-Software/OctoBot.git
[submodule "tulipy"]
	path = tulipy
	url = git@github.com:Drakkar-Software/tulipy.git
[submodule "OctoBot-Script"]
	path = OctoBot-Script
	url = git@github.com:Drakkar-Software/OctoBot-Script.git
[submodule "OctoBot-Market-Making"]
	path = OctoBot-Market-Making
	url = git@github.com:Drakkar-Software/OctoBot-Market-Making.git
[submodule "OctoBot-Prediction-Market"]
	path = OctoBot-Prediction-Market
	url = git@github.com:Drakkar-Software/OctoBot-Prediction-Market.git
[submodule "ccxt"]
	path = ccxt
	url = git@github.com:Drakkar-Software/ccxt.git
[submodule "OctoBot-Market-Making"]
	path = OctoBot-Market-Making
	url = git@github.com:Drakkar-Software/OctoBot-Market-Making.git
[submodule "chaquopy"]
	path = chaquopy
	url = git@github.com:Drakkar-Software/chaquopy.git
[submodule ".github"]
	path = .github
	url = https://github.com/Drakkar-Software/.github
[submodule "Private-Tentacles"]
	path = Private-Tentacles
	url = https://github.com/Drakkar-Software/Private-Tentacles
[submodule "Business-Private-Tentacles"]
	path = Business-Private-Tentacles
	url = https://github.com/Drakkar-Software/Business-Private-Tentacles
[submodule "crypto-ai-hedge-fund"]
	path = crypto-ai-hedge-fund
	url = https://github.com/Drakkar-Software/crypto-ai-hedge-fund
[submodule "OctoBot-Node"]
	path = OctoBot-Node
	url = git@github.com:Drakkar-Software/OctoBot-Node.git
